#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

#our{
  display: block;
  margin-top: 20px;
  margin-left: 100px;
  border: 5px solid dimgrey;
  float:left;
}

#spanstyle {
  color : black;
  text-align: center;
  font-size: 15px;
  font-family:inherit;
}

#divstyle {
  position : relative;
  margin-top : 500px;
  text-align: center;
}

#imgstyle{
  position : relative;
  margin-left : 200px;
}

.dimmed_layer_wrapper .full_layer {
  overflow:hidden;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  text-align:center;
  white-space:nowrap;
  font-size:0;
  display:inline-block;
  vertical-align:middle;
  height:100%;
  content:'';
}
.common_alert{
  z-index:2;
  position:relative;
  display:inline-block;
  vertical-align:middle;
  width:calc(100%-56px);
  min-height: 100px;
  max-height:100%;
  min-width: 200px;
  background-color:#fff67d;
  white-space:normal;
  word-break:break-word;
  text-align:center;
  border-radius:10px;
  padding:20px;
  margin:auto;
  box-sizing:border-box;
  font-size: 10px;
  margin-top: 400px;
  border-radius: 0px;
  border: 2px solid rgb(202, 8, 8)
}
.text{
  color:rgb(231, 13, 13);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}