#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

#pstyle {
  font-size : 14px;
  color: #000000;
  position : relative;
  margin-top : 500px;
  left : 500;
  text-align: center;
}

.dimmed_layer_wrapper .full_layer {
  overflow:hidden;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  text-align:center;
  white-space:nowrap;
  font-size:0;
  display:inline-block;
  vertical-align:middle;
  height:100%;
  content:'';
}
.common_alert{
  z-index:2;
  position:relative;
  display:inline-block;
  vertical-align:middle;
  width:calc(100%-56px);
  min-height: 200px;
  max-height:100%;
  min-width: 200px;
  background-color:yellowgreen;
  white-space:normal;
  word-break:break-word;
  text-align:left;
  border-radius:10px;
  padding:30px;
  margin:auto;
  box-sizing:border-box;
  font-size: 16px;
}